body {
	font-family: sans-serif;
	background-color: white;
}
p{
	color: black;
	font-size: 25px;
	margin: 0;
}
h1 {
	font-size: 50px;
	margin: 0;
} 
h2 {
	font-size: 35px;
	margin: 0;
}
a.goes {
	text-decoration: none;
	font-size: 35px;
	font-style: sans-serif;
	float: right;
	margin-right: 10px;
}
a.goes:link, a.goes:visited {
	color: #0A06A3;
	font-style: sans-serif;
}

a.goes:hover {
	color: black;
}
#header {
	background-color: white;
}
#adres {
	background-color: #0A06A3;
}
.L {
	color: red;
}
.F {
	color: blue;
}
#news {
	background-color: rgb(2, 99, 178);
}
#news h2 {
	color: white;
}
#news h1 {
	color: white;
}
#news p {
	color: white;
}
a.goes2 {
	text-decoration: none;
	font-size: 35px;
}
a.goes2:link, a.goes2:visited {
	color: white;
	font-style: sans-serif;
}

a.goes2:hover {
	color: gray;
}
#populares {
	background-color: white;
}
#populares h2 {
	color: black;
}
#populares h1 {
	color: black;
}
#populares p {
	color: black;
}
a.goes3 {
	text-decoration: none;
	font-size: 35px;
	font-style: sans-serif;
}
a.goes3:link, a.goes3:visited {
	color: #0A06A3;
	font-style: sans-serif;
}

a.goes3:hover {
	color: black;
}