body {
    font-family: sans-serif;
}
h1 {
    text-align: center;
    font-size: 50px;
    margin: 5px;
}
h1.hi {
    text-align: left;
}
h2 {
    text-align: center;
    font-size: 35px;
    margin: 5px;
}
p {
    font-size: 25px;
}
span.purpure {
    color: purple;
}
span.white {
    color: #FFFFFF;
}
#hi {
    background-color: black;
}
#goer {
    background-color: #333333;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
}
a.goer {
    text-decoration: none;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
a.goer:link, a.goer:visited {
    color: white;
}

a.goer:hover {
    color: purple;
}
img.img {
    text-align: center;
}
p.text {
    text-align: right;
}