@media screen and (max-width: 980px) {
    #men {
        margin-top: 300px;
    }
    span.its {
        color: white;
        background-color: blue;
        padding: 5px;
        font-size: 40px;
    }
    span.img {
        visibility: hidden;
        float: left;
        margin-right: -10000px;
    }
    #goer {
        text-align: left;
        background-color: #FFFF00;
        padding-bottom: 10px;
        padding-top: 10px;
        border-top: solid blue 2px;
    }
    h1 {
        text-align: center;
        font-size: 60px;
        margin: 5px;
    }
    h1.hi {
        text-align: left;
    }
    h2 {
        text-align: center;
        font-size: 45px;
        margin: 5px;
    }
    p {
        font-size: 30px;
    }
    li {
        font-size: 30px;
        margin-left: 10px;
    }
    a.goes:link, a.goes:visited {
        color: blue;
    }

    a.goes:hover {
        color: white;
        background-color: blue;
        padding: 2px;
    }
    a.goes {
        text-decoration: none;
        font-size: 40px;
        margin-right: 15px;
    }
    #hi {
        border-style:groove;
        background-color: rgb(0, 210, 0);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    #acses {
        visibility: hidden;
    }
    #ras {
        border-style:groove;
        margin: 10px;
        padding: 5px;
        clear: right;
        margin-top: 1px;
        margin-top: 300px;
        background-color: #F5F5DC;
    }
    #news {
        border-style: groove;
        padding: 5px;
        clear: right;
        margin-top: 300px;
        background-color: #F5F5DC;
        margin-right: 20px;
        margin-left: 20px;
    }
    #hi2 {
        border-style:groove;
        background-color: rgb(0, 210, 0);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}