body {
	font-family: sans-serif;
	background-color: rgb(2, 99, 178);
	text-align: center;
}
p{
	color: black;
	font-size: 25px;
}
h1 {
	font-size: 50px;
	margin: 0;
} 
h2 {
	font-size: 35px;
	margin: 0;
}